<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mental health website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="website" name="keywords">
    <meta content="website" name="description">

    <!-- Favicon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 border-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-decoration-none text-body pe-3" href=""><i class="bi bi-telephone me-2"></i>0660348090</a>
                        <span class="text-body">|</span>
                        <a class="text-decoration-none text-body px-3" href=""><i class="bi bi-envelope me-2"></i>Urgent.Help@gmail.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body px-2" href="https://www.facebook.com/groups/541132720323699">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-2" href="https://x.com/mentalhealth">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-2" href="https://www.linkedin.com/learning/paths/support-your-mental-health-at-work">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-2" href="https://www.instagram.com/drjulie/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body ps-2" href="https://www.youtube.com/playlist?list=PLZPBiTEeqgyqoiyay3UOAQoEwJO3r3tEI">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="register.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-primary"><i class="material-icons" style="font-size:36px;color: #13C5DD;">chat</i>Talk to heal</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">Service</a>
                        <a href="price.html" class="nav-item nav-link">Pricing</a>
                        <a href="chatbot.html" class="nav-item nav-link">Chatbot</a>
                        <a href="help.html" class="nav-item nav-link ">Solutions</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                <a href="detail.html" class="dropdown-item">Blog Detail</a>
                                <a href="team.html" class="dropdown-item">The Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="appointment.html" class="dropdown-item">Appointment</a>
                                <a href="search.html" class="dropdown-item">Search</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                    
                    <div class="nav-item user-icon" id="userIcon" >
                        <i class="bi bi-person-circle" style="font-size: 24px; color: #0de1fd;"></i>
                        <span >Account</span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important; color: azure !important;">Welcome to Talk To Heal </h5>
                    <h1 class="display-1 text-white mb-md-4">Your supportive online companion for mental well-being</h1>
                    <div class="pt-2">
                        <a href="chatbot.html" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Chat with Chatbot</a>
                        <a href="appointment.html" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Talk to a therapist</a>
                    </div>
                    
                                      
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="../static/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                        <h1 class="display-4">Your trusted companion for mental well-being</h1>
                    </div>
                    <p>Our mission is to provide a safe space where you can find comfort, guidance, and practical solutions to navigate life's challenges. Whether you're feeling overwhelmed, seeking advice, or simply need someone to talk to, our dedicated resources and compassionate chatbot are here to help you on your journey to mental wellness. Together, let's embrace hope, healing, and happiness.</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                <h6 class="mb-0">Qualified<small class="d-block text-primary">psychologists</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-robot text-primary mb-3"></i>
                                <h6 class="mb-0">suportive<small class="d-block text-primary">chatbot</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-heart text-primary mb-3"></i>
                                <h6 class="mb-0">Self-care<small class="d-block text-primary">Tips</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-book-open text-primary mb-3"></i>
                                <h6 class="mb-0">Articles<small class="d-block text-primary">Library</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Services</h5>
                <h1 class="display-4">Comprehensive Mental Health Support Services</h1>
            </div>
            <div class="row g-5">
    <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <div class="service-icon mb-4">
                <i class="fa fa-2x fa-heartbeat text-white"></i>
            </div>
            <h4 class="mb-3">Stress Management Techniques</h4>
            <p class="m-0">Providing users with tips and exercises to help manage and reduce stress.</p>
            <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <div class="service-icon mb-4">
                <i class="fa fa-2x fa-smile text-white"></i>
            </div>
            <h4 class="mb-3">Mood Tracking</h4>
            <p class="m-0">Allowing users to log their daily mood and receive insights and feedback over time.</p>
            <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <div class="service-icon mb-4">
                <i class="fa fa-2x fa-life-ring text-white"></i>
            </div>
            <h4 class="mb-3">Crisis Support</h4>
            <p class="m-0">Offering immediate resources and steps to take during a mental health crisis, including connecting users to emergency contacts.</p>
            <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <div class="service-icon mb-4">
                <i class="fa fa-2x fa-spa text-white"></i>
            </div>
            <h4 class="mb-3">Mindfulness and Meditation</h4>
            <p class="m-0">Guiding users through mindfulness practices and meditation exercises to promote relaxation and mental clarity.</p>
            <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <div class="service-icon mb-4">
                <i class="fa fa-2x fa-users text-white"></i>
            </div>
            <h4 class="mb-3">Personalized Advice</h4>
            <p class="m-0">Giving tailored suggestions based on the user's mental health status, such as recommending articles, videos, or activities.</p>
            <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <div class="service-icon mb-4">
                <i class="fa fa-2x fa-comments text-white"></i>
            </div>
            <h4 class="mb-3">Chat-Based Therapy</h4>
            <p class="m-0">Offering interactive, conversational support to help users process their thoughts and feelings in real-time.</p>
            <a class="btn btn-lg btn-primary rounded-pill" href="chatbot.html">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
</div>
</div>

    <!-- Services End -->


    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Emergency Support</h1>
                    </div>
                    <p class="text-white mb-5">While our chatbot is designed to provide you with instant support and guidance, we understand that sometimes you need a more personalized touch. Booking an appointment with one of our qualified mental health professionals can offer you the tailored support and in-depth conversation that you might need. Whether it's managing ongoing stress, addressing specific concerns, or simply seeking a compassionate ear, our team is here for you.</p>
                    <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="team.html">Find Doctor</a>
                    <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="appointment.html">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">Book An Appointment</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>choose specialization</option>
                                        <option value="1">Anxiety and Stress Management</option>
                                        <option value="2">Depression and Mood Disorders</option>
                                        <option value="3">Trauma and PTSD</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Select Doctor</option>
                                        <option value="1">Mahmoud Chamss</option>
                                        <option value="2">Hanane Moutawakil</option>
                                        <option value="3">Loubna Said</option>
                                        <option value="4">Karim Ahmed</option>
                                        <option value="5">Mohammed Rachid</option>
                                        <option value="6">Rami Soulayman</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="your Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input"
                                            placeholder="Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input"
                                            placeholder="Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Payment Options</h5>
                <h1 class="display-4">Awesome Payment plans for Your Mental Health Needs</h1>
            </div>
            <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="../static/img/price-1.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Basic Consultation</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">MAD</small>490<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Session</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>One-hour personalized therapy session</p>
                        <p>Initial assessment and consultation</p>
                        <p>Customized therapy plan</p>
                        <p>Follow-up resources</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="../static/img/price-2.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Standard Therapy</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">MAD</small>990<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>Four one-hour sessions per month</p>
                        <p>Weekly check-ins via phone or email</p>
                        <p>Progress tracking</p>
                        <p>Access to resources</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="../static/img/price-3.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Premium Therapy</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">MAD</small>1490<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>Eight one-hour sessions per month</p>
                        <p>Bi-weekly check-ins via phone or email</p>
                        <p>Personalized therapy goals</p>
                        <p>Emergency support availability 24/7</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="../static/img/price-4.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Crisis Intervention</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">MAD</small>800<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Emergency Session</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>On-call therapist availability</p>
                        <p>Emergency response within 24 hours</p>
                        <p>Continuous support</p>
                        <p>Post-crisis follow-up session</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Doctors</h5>
                <h1 class="display-4">Qualified Mental Health professionals</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative">
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/img/team-1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Mahmoud Chamss</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">psychotherapist</h6>
                                <p class="m-0">Has 15 years of experience in Psychodynamic Therapy and holds a Ph.D. in Psychology. </p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/img/team-2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Loubna Said</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">psychotherapist</h6>
                                <p class="m-0">Specializes in Cognitive Behavioral Therapy (CBT) with over a decade of experience and a Ph.D. in Clinical Psychology. </p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/img/team-3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Hanane Moutawakil</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">psychotherapist</h6>
                                <p class="m-0">An expert in Child and Adolescent Therapy with an 8-year background and a Psy.D. in Child Psychology. </p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Search Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Find A Doctor</h5>
                <h1 class="display-4 mb-4">Find a mental health professionals</h1>
                <h5 class="text-white fw-normal">Our network of qualified mental health professionals can help with a wide range of concerns, from everyday stress to more specific challenges.</h5>
            </div>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <select class="form-select border-primary w-25" style="height: 60px;">
                        <option selected>Specialization</option>
                        <option value="1">Anxiety and Stress Management</option>
                        <option value="2">Depression and Mood Disorders</option>
                        <option value="3">Trauma and PTSD</option>
                    </select>
                    <input type="text" class="form-control border-primary w-50" placeholder="Keyword">
                    <button class="btn btn-dark border-0 w-25">Search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Testimonial</h5>
                <h1 class="display-4">Patients Say About Our Services</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="../static/img/testimonial-1.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">I found the mental health website incredibly helpful during my stressful thesis period. The chatbot was surprisingly understanding and helped me through calming exercises that really helped calm my nerves. It's like having a supportive friend available anytime.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Lamiae</h3>
                            <h6 class="fw-normal text-primary mb-3">Post-graduate student</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="../static/img/testimonial-2.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">Being a freelancer often means unpredictable work hours and isolation. The mental health website's chatbot feels like a reliable companion. It not only provides immediate crisis support but also suggests techniques like mindfulness that help me manage stress and stay focused on my work</p>
                            <hr class="w-25 mx-auto">
                            <h3>Omar</h3>
                            <h6 class="fw-normal text-primary mb-3">Freelancer</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="../static/img/testimonial-3.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">As a lawyer with a hectic schedule, accessing therapy has been a challenge. This website's chatbot has been a game-changer. It provides practical advice and keeps track of my mood fluctuations, making my sessions with the therapist more productive. It's a lifeline during tough case periods.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Salma</h3>
                            <h6 class="fw-normal text-primary mb-3">Lawyer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Post</h5>
                <h1 class="display-4">Our Latest Mental Health Blog Posts</h1>
            </div>
            <div class="row g-5">
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="../static/img/blog-1.jpg" alt="">
                        <div class="p-4">
                            <a class="h3 d-block mb-3" href="detail.html">TIPS I USE TO MANAGE MY MENTAL HEALTH</a>
                            <p class="m-0">Establishing a structured routine is fundamental to maintaining my mental health. When life feels overwhelming and my anxiety peaks</p>
                        </div>
                        <div class="d-flex justify-content-between border-top p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="../static/img/user.jpg" width="25" height="25" alt="">
                                <small>Asmae Salim</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                                <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="../static/img/blog-2.jpg" alt="">
                        <div class="p-4">
                            <a class="h3 d-block mb-3" href="">CHRONIC ANXIETY DISORDER</a>
                            <p class="m-0">Chronic Anxiety develops with time. Everyone feels anxious from time to time related to work, Family, and Relationships in different situations.</p>
                        </div>
                        <div class="d-flex justify-content-between border-top p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="../static/img/user-2.jpg" width="25" height="25" alt="">
                                <small>Ikram khalifa</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                                <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="../static/img/blog-3.jpg" alt="">
                        <div class="p-4">
                            <a class="h3 d-block mb-3" href="">CHILDHOOD DEPRESSION - ALL YOU NEED TO KNOW</a>
                            <p class="m-0">CHILDHOOD DEPRESSION - ALL YOU NEED TO KNOW is a mental health disorder in children characterised by persistent feelings of sadness, hopelessness, and a lack of interest in activities. </p>
                        </div>
                        <div class="d-flex justify-content-between border-top p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="../static/img/user-3.jpg" width="25" height="25" alt="">
                                <small>Mohammed Salah</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                                <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
    

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Get In Touch</h4>
                    <p class="mb-4">Have questions or need support? Reach out to us. We're here to help.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Angle Avenue Oqbah et rue assouheil, Agdal, Rabat Maroc</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>Urgent.Help@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>06603480900</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="index.html"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="about.html"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="service.html"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="team.html"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                        <a class="text-light mb-2" href="detail.html"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        <a class="text-light" href="contact.html"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Popular Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="index.html"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="about.html"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="service.html"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="team.html"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                        <a class="text-light mb-2" href="detail.html"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        <a class="text-light" href="contact.html"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Newsletter</h4>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="https://x.com/mentalhealth"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="https://www.facebook.com/groups/541132720323699"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="https://x.com/mentalhealth"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="https://youtube.com/freewebsitecode/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="#">TALK TO HEAL</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-primary" href="">Emsi Students</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


   <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
</body>

</html>